@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (!string.IsNullOrEmpty(Models.CustomPageModel.selected_port))
{
    <div id="output">
        @section scripts
        {
            <script>
                var updateTime = 3000;

                function renderPartialDataPage() {
                    $('#output').load('/Partials/SensorsDataPage');
                }

                renderPartialDataPage();

                setInterval(renderPartialDataPage, updateTime);
            </script>
        }
    </div>
} 
else
{
    <h2>Port don`t selected</h2>
    <h4>Visit <a asp-page="/Admin">admin page</a>, if you are admin.</h4>    
}
